<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header', {title: "Home-List"}) %>
</head>

<body>
  <!-- Navigation Bar -->
  <%- include('partials/navbar') %>

  <!-- Movie List Page -->
  <div class="container btm-up">
    <h2>Movies</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Genre</th>
          <th>Release Date</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="movieListBody">
        <% result.forEach(function(movie){ %>
          <tr>
              <td><%= movie.title %></td>
              <td><%= movie.genre %></td>
              <td><%= movie.date.toLocaleDateString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' }) %></td>
              <td><%= movie.price %></td>
              <td>
                <a href="/movie/<%= movie.id %>" class="btn btn-success btn-sm">View</a>
                <a href="/update/<%= movie.id %>" class="btn btn-primary btn-sm">Edit</a>
                <a href="/delete/<%= movie.id %>" class="btn btn-danger btn-sm">Delete</a>
              </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>


  <!-- Footer -->
  <%- include('partials/footer') %> 
  </body>
  
  </html> 